.cards {
  border-bottom: 1px solid #21212166;
  padding: 20px 0 40px 0;
}

.card {
  max-width: 413px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.card__image {
  width: 100%;
  display: block;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
}

.card__title {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.card__description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  padding: 12px 0 0 0;
}

.card__like-icon {
  cursor: pointer;
  opacity: 40%;
}

.card__like-icon:hover {
  opacity: 1;
}
