.footer {
  background-color: #fcf5e5;
}

.footer__copyright {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 60px;
  text-align: center;
  margin: 0;
}
