.footer {
  background-color: #fcf5e5;
}

.footer__copyright {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  padding: 60px;
  text-align: center;
  margin: 0;
  color: #212121b2;
}
