.modal {
  visibility: hidden;
  position: fixed;
  background-color: rgba(33, 33, 33, 0.4);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  height: 408px;
  background-color: #fff;
  border-radius: 8px;
  width: 90%;
  padding: 32px;
  position: relative;
}
.modal__form-title {
  position: absolute;
  top: 16px;
  left: 16px;
}

.modal__form-label {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  padding: 0 0 8px;
}

.modal__form-field {
  padding: 16px 0 16px 12px;
  margin: 0 0 32px;
  border-radius: 8px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #212121;
}

.modal__close-btn {
  background-image: url(../images/close-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  opacity: 40%;
  position: absolute;
  top: 50px;
  right: 32px;
}

.modal__save-btn {
  background-color: #212121;
  margin-top: auto;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  max-width: 149px;
  height: 52px;
  width: 100%;
}

.modal__new-post-btn {
  background-color: #212121;
  margin-top: auto;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  max-width: 149px;
  height: 52px;
  width: 100%;
}

/*Mobile View (320px – 630px):
The media query should not be set at 320px. The frames provided in Figma don’t determine the sizes of the media queries.
The page should match the 320px Figma layout. The only difference will be the amount of space on the sides.
The minimum supported screen width is 320px.*/

@media screen and (max-width: 629px) {
  .modal__container {
    max-width: 300px;
    height: 336px;
  }

  .modal__save-btn {
    max-width: 276px;
  }

  .modal__form-field {
    max-width: 276px;
  }
}
