.profile {
  background-color: #fcf5e5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #21212166;
  padding: 34px 0 20px 0;
}

.profile__details {
  display: flex;
  flex-wrap: wrap;
}

.profile__user-info {
  padding: 0 0 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile__image {
  height: 190px;
  width: 190px;
  border-radius: 8px;
  margin: 0;
}

.profile__name {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
  max-width: 420px;
  color: #212121;
}

.profile__description {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #212121;
  padding: 12px 0px 20px;
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  opacity: 70%;
}

.profile__edit {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: auto;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  opacity: 70%;
  color: #212121;
}

.profile__edit:hover {
  opacity: 40%;
}

.profile__edit-icon {
  height: 16px;
  width: 16px;
  padding: 0 8px 0 0;
}

.profile__edit-link {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
}

.profile__new-post {
  background-color: #212121;
  margin-top: auto;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  max-width: 149px;
  height: 52px;
  width: 100%;
}

.profile__new-post:hover {
  opacity: 80%;
}

.profile__new-post-icon {
  height: 12px;
  width: 12px;
  padding: 0 8px 0 0;
}

.profile__text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
