.profile {
  background-color: #fcf5e5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #000;
  padding: 34px 0 20px 0;
}

.profile h1 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile p {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__details {
  display: flex;
  flex-wrap: wrap;
}

.profile__details_user-info {
  padding: 0 0 0 20px;
}

.profile__name {
  font-family: "Poppins";
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
}

.profile__description {
  font-family: "Poppins";
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 0px 0px 20px;
}

.profile__edit {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.profile__edit:hover {
  opacity: 40%;
}

.profile__edit-icon {
  height: 16px;
  width: 16px;
  padding: 0 8px 0 0;
}

.profile__edit-link {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
}

.profile__button_new-post {
  background-color: #212121;
  margin-top: auto;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.profile__button_new-post:hover {
  opacity: 40%;
}

.profile__button_new-post-icon {
  height: 12px;
  width: 12px;
  padding: 0 8px 0 0;
}

.profile__button_text {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
