@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/cards.css);
@import url(../blocks/footer.css);

/* Desktop View (1320px and greater):
The page should match the 1440px Figma layout. The only difference will be the amount of space on the sides.
The page content should have a maximum width of 320px(typo check 1320?) and be centered.
There should be 3 cards per row.
*/
@media screen and (min-width: 1320px) {
  .cards__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 413px);
    gap: 40px 20px;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
}

/*Tablet View (630px – 1320px):
The layout should adjust to 2 cards per row.
The card sizes should remain the same as in the desktop view.*/

@media screen and (min-width: 630px) and (max-width: 1319px) {
  .cards__list {
    display: grid;
    grid-template-columns: repeat(2, 413px);
    gap: 40px 20px;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
}

/*Mobile View (320px – 630px):
The media query should not be set at 320px. The frames provided in Figma don’t determine the sizes of the media queries.
The page should match the 320px Figma layout. The only difference will be the amount of space on the sides.
The minimum supported screen width is 320px.*/

@media screen and (min-width: 320px) and (max-width: 629px) {
  .content {
    padding: 0 16px;
    margin: 0 auto;
  }

  .cards__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 20px;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .card {
    max-width: 288px;
  }

  .card__image {
    height: 288px;
    object-fit: cover;
    max-width: 288px;
    width: 100%;
  }

  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .profile__details {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 0 20px 0;
  }

  .profile__user-info {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0;
  }

  .profile__edit {
    justify-content: center;
    padding: 32px 0 0 0;
  }

  .profile__image {
    height: 80px;
    width: 80px;
    border-radius: 8px;
    margin: 0;
  }

  .profile__new-post {
    max-width: 288px;
    height: 52px;
    width: 100%;
  }
}
